.board-container {
}

.board {
    background-color: chocolate;
}

.canvas-stage {
    background-color: indigo;

}

.canvas-main {
    border: 1px black;
    background-color: blue;
}

.konvajs-content {
    background-color: white;
    border: 1px solid black;
}