.App {
  text-align: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: green;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Body {
  background-color: aquamarine;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: 'center';
}

.Menu {
  background-color: grey;
}

.Game {
  flex: 1;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
